<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h1><%= t('.new') %></h1>

    <%= render 'form' %>

    <%= link_to t('admin.tests.edit.back'), admin_tests_path %>
  </div>
</div>
