<style>
  footer {
      padding: 10px 20px;
      background: #999;
      color: white;
  }
</style>
<%= link_to 'Обратная связь', new_feedback_path %>
<footer>
  <p>Текущий год: <%= current_year %></p>
  <address>Автор: <%= github("AntonBuyanov", "TestGuru") %> </address>
  Приложение TestGuru позволяет создавать, редактировать и проходить различные тесты.<br>
  <a href ="https://thinknetica.com" target="_blank" rel="nofollow noopener">
    Учебный проект в онлайн-школе Thinknetica
  </a>

</footer>
